



     <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio" >
          <div class="container"  id="page-top">
              <!-- Portfolio Section Heading-->
              <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
              <!-- Icon Divider-->
              <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                  <div class="divider-custom-line"></div>
              </div>
              <!-- Portfolio Grid Items-->
              <div class="row justify-content-center">
                  <!-- Portfolio Item 1-->
                  <div class="col-md-6 col-lg-4 mb-5">
                      <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/img/portfolio/practicaflex.png" alt="..." />
                      </div>
                  </div>
                  <!-- Portfolio Item 2-->
                  <div class="col-md-6 col-lg-4 mb-5">
                      <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/img/portfolio/animacioncss.png" alt="..." />
                      </div>
                  </div>
                  <!-- Portfolio Item 3-->
                  <div class="col-md-6 col-lg-4 mb-5">
                      <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/img/portfolio/practicasass.png" alt="..." />
                      </div>
                  </div>
                  <!-- Portfolio Item 4-->
                  <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                      <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/img/portfolio/practicabootstrap.png" alt="..." />
                      </div>
                  </div>
                  <!-- Portfolio Item 5-->
                  <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                      <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/img/portfolio/js.png" alt="..." />
                      </div>
                  </div>
                  <!-- Portfolio Item 6-->
                  <div class="col-md-6 col-lg-4">
                      <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                              <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                          </div>
                          <img class="img-fluid" src="assets/img/portfolio/rockets.png" alt="..." />
                      </div>
                  </div>

                   <!-- Portfolio Item 7-->
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0 mt-md-5">
              <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal7">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="assets/img/portfolio/ajax.png" alt="..." />
              </div>
          </div>
           <!-- Portfolio Item 8-->
           <div class="col-md-6 col-lg-4 mb-5 mb-md-0 mt-md-5">
            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal8">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid" src="assets/img/portfolio/js.png" alt="..." />
            </div>
        </div>
         <!-- Portfolio Item 9-->
         <div class="col-md-6 col-lg-4 mb-5 mb-md-0 mt-md-5">
          <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal9">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                  <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
              </div>
              <img class="img-fluid" src="assets/img/portfolio/js.png" alt="..." />
          </div>
      </div>

              </div>

          </div>

      </section>

        <!-- Portfolio Modals-->
        <!-- Portfolio Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
          <div class="modal-dialog modal-xl">
              <div class="modal-content">
                  <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                  <div class="modal-body text-center pb-5">
                      <div class="container">
                          <div class="row justify-content-center">
                              <div class="col-lg-8">
                                  <!-- Portfolio Modal - Title-->
                                  <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Flex Layout + Grid</h2>
                                  <!-- Icon Divider-->
                                  <div class="divider-custom">
                                      <div class="divider-custom-line"></div>
                                      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                      <div class="divider-custom-line"></div>
                                  </div>
                                  <!-- Portfolio Modal - Image-->
                                  <img class="img-fluid rounded mb-5" src="assets/img/portfolio/practicaflex.png" alt="..." />
                                  <!-- Portfolio Modal - Text-->
                                  <p class="mb-4">Wireframe hecho a través de Flex y Grid. Se adapta perfectamente a diferentes dispositivos a través de MediaQuerys.</p>
                                      <a href="https://github.com/Francescdv/-Ex-Wireframe-amb-Flex-Layout-M3-" class="btn btn-primary" role="button"> <i class="fas fa-link"></i>Ver Código</a>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Portfolio Modal 2-->
      <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
          <div class="modal-dialog modal-xl">
              <div class="modal-content">
                  <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                  <div class="modal-body text-center pb-5">
                      <div class="container">
                          <div class="row justify-content-center">
                              <div class="col-lg-8">
                                  <!-- Portfolio Modal - Title-->
                                  <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Animación CSS</h2>
                                  <!-- Icon Divider-->
                                  <div class="divider-custom">
                                      <div class="divider-custom-line"></div>
                                      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                      <div class="divider-custom-line"></div>
                                  </div>
                                  <!-- Portfolio Modal - Image-->
                                  <img class="img-fluid rounded mb-5" src="assets/img/portfolio/animacioncss.png" alt="..." />
                                  <!-- Portfolio Modal - Text-->
                                  <p class="mb-4">En este apartado se pueden observar diferentes ejemplos de animación con CSS: Transformación 2D/3D, transiciones y animaciones.</p>
                                  <a href="https://github.com/Francescdv/Animacions-CSS/tree/master/Entrega%20d'exercici%20Animaci%C3%B3%20CSS%20(M4)" class="btn btn-primary" role="button"> <i class="fas fa-link"></i>Ver Código</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Portfolio Modal 3-->
      <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
          <div class="modal-dialog modal-xl">
              <div class="modal-content">
                  <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                  <div class="modal-body text-center pb-5">
                      <div class="container">
                          <div class="row justify-content-center">
                              <div class="col-lg-8">
                                  <!-- Portfolio Modal - Title-->
                                  <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">SASS</h2>
                                  <!-- Icon Divider-->
                                  <div class="divider-custom">
                                      <div class="divider-custom-line"></div>
                                      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                      <div class="divider-custom-line"></div>
                                  </div>
                                  <!-- Portfolio Modal - Image-->
                                  <img class="img-fluid rounded mb-5" src="assets/img/portfolio/practicasass.png" alt="..." />
                                  <!-- Portfolio Modal - Text-->
                                  <p class="mb-4">Utilización de Sass para adaptar diferentes páginas web. Se muestran variables, mixins, includes y un bucle for</p>
                                  <a href="https://github.com/Francescdv/Animacions-CSS/tree/master/Entrega%20d'exercici%20Animaci%C3%B3%20CSS%20(M4)" class="btn btn-primary" role="button"> <i class="fas fa-link"></i>Ver Código</a>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Portfolio Modal 4-->
      <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
          <div class="modal-dialog modal-xl">
              <div class="modal-content">
                  <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                  <div class="modal-body text-center pb-5">
                      <div class="container">
                          <div class="row justify-content-center">
                              <div class="col-lg-8">
                                  <!-- Portfolio Modal - Title-->
                                  <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Bootstrap</h2>
                                  <!-- Icon Divider-->
                                  <div class="divider-custom">
                                      <div class="divider-custom-line"></div>
                                      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                      <div class="divider-custom-line"></div>
                                  </div>
                                  <!-- Portfolio Modal - Image-->
                                  <img class="img-fluid rounded mb-5" src="assets/img/portfolio/practicabootstrap.png" alt="..." />
                                  <!-- Portfolio Modal - Text-->
                                  <p class="mb-4">Diferents ejemplos de Webs creadas a traves de Bootstrap</p>
                                  <a href="https://github.com/Francescdv/M6-Bootstrap4" class="btn btn-primary" role="button"> <i class="fas fa-link"></i>Ver Código</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Portfolio Modal 5-->
      <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5" aria-hidden="true">
          <div class="modal-dialog modal-xl">
              <div class="modal-content">
                  <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                  <div class="modal-body text-center pb-5">
                      <div class="container">
                          <div class="row justify-content-center">
                              <div class="col-lg-8">
                                  <!-- Portfolio Modal - Title-->
                                  <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">JavaScript</h2>
                                  <!-- Icon Divider-->
                                  <div class="divider-custom">
                                      <div class="divider-custom-line"></div>
                                      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                      <div class="divider-custom-line"></div>
                                  </div>
                                  <!-- Portfolio Modal - Image-->
                                  <img class="img-fluid rounded mb-5" src="assets/img/portfolio/js.png" alt="..." />
                                  <!-- Portfolio Modal - Text-->
                                  <p class="mb-4">Aquí se pueden ver diferentes ejercicios con JS, desde los más básicos hasta los más complejos.</p>
                                  <p class="mb-4">Curso fundamentos de programción</p>
                                  <a href="https://github.com/Francescdv/Fonaments-de-la-programaci-" class="btn btn-primary" role="button"> <i class="fas fa-link"></i>Ver Código</a>
                                  <p class="mb-4">Ejercicios básicos de con JavaScript + Calculadora</p>
                                  <a href="https://github.com/Francescdv/JavaScript-M7" class="btn btn-primary" role="button"> <i class="fas fa-link"></i>Ver Código</a>
                                  <p class="mb-4">Validación de formulario + Jquery Validator</p>
                                  <a href="https://github.com/Francescdv/Validaci-formulari-bootstrap-JS-Jquery" class="btn btn-primary" role="button"> <i class="fas fa-link"></i>Ver Código</a>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Portfolio Modal 6-->
      <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
          <div class="modal-dialog modal-xl">
              <div class="modal-content">
                  <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
                  <div class="modal-body text-center pb-5">
                      <div class="container">
                          <div class="row justify-content-center">
                              <div class="col-lg-8">
                                  <!-- Portfolio Modal - Title-->
                                  <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">TypeScript</h2>
                                  <!-- Icon Divider-->
                                  <div class="divider-custom">
                                      <div class="divider-custom-line"></div>
                                      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                      <div class="divider-custom-line"></div>
                                  </div>
                                  <!-- Portfolio Modal - Image-->
                                  <img class="img-fluid rounded mb-5" src="assets/img/portfolio/rockets.png" alt="..." />
                                  <!-- Portfolio Modal - Text-->
                                  <p class="mb-4">Diferentes ejemplos de app creadas mediante TypeScript </p>
                                  <p class="mb-4">Aquí se pueden una app donde se pueden introducir diferentes coches </p>
                                  <a href="https://github.com/Francescdv/Typescript-Vehicles" class="btn btn-primary" role="button"> <i class="fas fa-link"></i>Ver Código</a>
                                  <p class="mb-4">Juego de carreras de cohetes para varios jugadores </p>
                                  <a href="https://github.com/Francescdv/Rockets" class="btn btn-primary" role="button"> <i class="fas fa-link"></i>Ver Código</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    <!-- Portfolio Modal 7-->
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" aria-labelledby="portfolioModal7" aria-hidden="true">
      <div class="modal-dialog modal-xl">
          <div class="modal-content">
              <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
              <div class="modal-body text-center pb-5">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- Portfolio Modal - Title-->
                              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">AJAX + API</h2>
                              <!-- Icon Divider-->
                              <div class="divider-custom">
                                  <div class="divider-custom-line"></div>
                                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                  <div class="divider-custom-line"></div>
                              </div>
                              <!-- Portfolio Modal - Image-->
                              <img class="img-fluid rounded mb-5" src="assets/img/portfolio/ajax.png" alt="..." />
                              <!-- Portfolio Modal - Text-->
                              <p class="mb-4">A través de Ajax se llama una API que retorna un chiste de Chuck Norris</p>
                              <a href="https://github.com/Francescdv/Francescdv-AJAX-API" class="btn btn-primary" role="button"> <i class="fas fa-link"></i>Ver Código</a>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
     <!-- Portfolio Modal 6-->
     <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" aria-labelledby="portfolioModal8" aria-hidden="true">
      <div class="modal-dialog modal-xl">
          <div class="modal-content">
              <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
              <div class="modal-body text-center pb-5">
                  <div class="container">
                      <div class="row justify-content-center">
                          <div class="col-lg-8">
                              <!-- Portfolio Modal - Title-->
                              <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">TypeScript</h2>
                              <!-- Icon Divider-->
                              <div class="divider-custom">
                                  <div class="divider-custom-line"></div>
                                  <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                  <div class="divider-custom-line"></div>
                              </div>
                              <!-- Portfolio Modal - Image-->
                              <img class="img-fluid rounded mb-5" src="assets/img/portfolio/leaflet.png" alt="..." />
                              <!-- Portfolio Modal - Text-->
                              <p class="mb-4">Juego de carreras de cohetes para varios jugadores </p>
                              <a href="https://github.com/Francescdv/Rockets" class="btn btn-primary" role="button"> <i class="fas fa-link"></i>Ver Código</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

