
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container" id="page-top">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Sobre mi</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Graduado en psicologia por la universidad de Barcelona y con un máster en gestion y desarrollo de personas y equipos en organizaciones.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">Programador Angular con conocimientos HTML, CSS, SASS, Bases de datos SQL, Bootstrap, Leaflet, Javascript, Typescript.</p></div>
        </div>

    </div>
</section>
