 <!-- Contact Section-->
 <section class="page-section" id="contact">
  <div class="container">
      <!-- Contact Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contactame</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- Contact Section Form-->
      <div class="row justify-content-center">
          <div class="col-lg-8 col-xl-7" >


            <!-- main app container -->
<div class="card m-3">
  <h5 class="card-header card text-white bg-primary mb-3">Formulario de contacto</h5>
  <div class="card-body">
      <form [formGroup]="registerForm" #userPost="ngForm"  method="post" (ngSubmit)="onSubmit(userPost.value)">
          <div class="form-row">
              <div class="form-group col">
                  <label>Título</label>
                  <select formControlName="title" name="titulo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                      <option value=""></option>
                      <option value="Mr">Sr</option>
                      <option value="Mrs">Srt</option>
                      <option value="Miss">Sra</option>
                      <option value="Ms">Srta</option>
                  </select>
                  <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                      <div *ngIf="f.title.errors.required">El título es obligatorio</div>
                  </div>
              </div>
              <div class="form-group col">
                  <label>Nombre</label>
                  <input type="text" formControlName="firstName" name="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required">El nombre es obligatorio</div>
                  </div>
              </div>
              <div class="form-group col">
                  <label>Apellidos</label>
                  <input type="text" formControlName="lastName" name="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required">El apellido es obligatorio</div>
                  </div>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col">
                  <label>Fecha de nacimiento</label>
                  <input type="date" formControlName="dob" class="form-control" name="date" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
                  <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                      <div *ngIf="f.dob.errors.required">La fecha de nacimiento es obligatoria</div>
                      <div *ngIf="f.dob.errors.pattern">Debe seguir el formato DD-MM-AAAA</div>
                  </div>
              </div>
              <div class="form-group col">
                  <label>Email</label>
                  <input type="text" formControlName="email" class="form-control" name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">El Email es obligatorio</div>
                      <div *ngIf="f.email.errors.email">Debes introducir una dirección válida de Email</div>
                  </div>
                  <div class="form-group col">
                    <label>Teléfono</label>
                    <input type="number" formControlName="telf" class="form-control" name="telf" [ngClass]="{ 'is-invalid': submitted && f.telf.errors }" />
                    <div *ngIf="submitted && f.telf.errors" class="invalid-feedback">
                        <div *ngIf="f.telf.errors.required">El teléfono es obligatorio</div>
                    </div>
                    <div class="form-group col">
                      <label>Mensaje</label>
                      <textarea type="text" formControlName="message" class="form-control" name="message" [ngClass]="{ 'is-invalid': submitted && f.message.errors }"></textarea>
                      <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                          <div *ngIf="f.message.errors.required">Debes dejar un mensaje con el motivo de tu contacto con un mínimo de 50 carácteres.</div>
                      </div>
                      </div>

                    </div>

                </div>
          </div>

          <div class="form-group form-check">
              <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
              <label for="acceptTerms" class="form-check-label">Accepto los termino y condiciones</label>
              <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Aceptar los terminos y condiciones es obligatorio</div>
          </div>
          <div class="text-center">
              <button class="btn btn-primary mr-1">Enviar</button>
              <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancelar</button>
          </div>
      </form>
  </div>
</div>

          </div>
      </div>
  </div>
</section>
