 <!-- Contact Section-->
 <section class="page-section" id="contact">
  <div class="container">
      <!-- Contact Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      <!-- Contact Section Form-->
      <div class="row justify-content-center">
          <div class="col-lg-8 col-xl-7" >


            <form [formGroup]="contactMe" (ngSubmit)="onSubmit()" class=" form-group">

              <label for="first-name">First Name: </label>
              <input id="first-name" type="text" formControlName="firstName">

              <label for="last-name">Last Name: </label>
              <input id="last-name" type="text" formControlName="lastName">

              <div formGroupName="address">
                <h2>Address</h2>

                <label for="street">Calle: </label>
                <input id="street" type="text" formControlName="street">

                <label for="city">Ciudad: </label>
                <input id="city" type="text" formControlName="city">

                <label for="state">Estado: </label>
                <input id="state" type="text" formControlName="state">

                <label for="zip">Código postal: </label>
                <input id="zip" type="text" formControlName="zip">
              </div>

              <p>Completa el formulario para habilitar el botón.</p>
              <button class="btn-info" type="submit" [disabled]="!contactMe.valid">Submit</button>


            </form>
            <p>Form Status: {{ contactMe.status }}</p>


          </div>
      </div>
  </div>
</section>
